html {
    font-size: 125%;
    /*на макете font-size=20px (по умолчанию 16px)*/
    height: 100%;
}

@media screen and (max-width:576px) {
    html {
        font-size: 75%;
        /*некоторые шрифты при уменьшении экрана менее 500px ломают контент*/
    }
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    /*убираем все отступы*/
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

.header {
    background: url(../images/bg_header.png) center/cover no-repeat;
    padding-bottom: 15px;
}

.container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.4rem 4.85rem 4.5rem;
}

.curtain {
    background-color: rgba(209, 198, 177, 0.729);
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    width: 16.2%;
    min-width: 100px;
    /*убираем свойство картинки уменьшаться при изменении экрана меньше чем на 100px*/
}

.logo img {
    width: 100%;
}

.nav {
    margin-right: -20px;
    /*на макете меню сдвинуто вправо*/
}

.nav__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav__item {
    padding: 0.65rem 0.75rem;
    text-decoration: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: rgb(22, 22, 22);
    border-radius: 5px;
}

.nav__item:hover {
    background-color: rgb(208, 57, 88);
    color: rgb(255, 255, 255);
    transition: all 0.7s ease 0s;
}

@media screen and (max-width:768px) {
    .row {
        align-items: center;
    }
    .nav {
        margin: 0;
    }
    .nav__list {
        margin: 0;
        padding: 30px 0;
        position: fixed;
        z-index: 10;
        top: -130%;
        /*задвигаем меню выше видимой части экрана*/
        left: 0;
        width: 100%;
        height: 90%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(98, 93, 83, 0.729);
        transition: all 0.5s ease 0s;
    }
    .nav__list.active {
        top: 0;
        /*выдвигаем меню на видимый экран при активации меню-бургер*/
    }
    .nav__item {
        position: relative;
        z-index: 3;
        font-size: 1.5rem;
        padding: 0.65rem 1.5rem;
        color: white;
        font-weight: bold;
    }
    .nav__item:hover {
        /*немного красоты для активной кнопки меню*/
        box-shadow: 0 5px #000;
        text-shadow: 0 5px #000;
        transition: all 0.7s ease 0s;
    }
    .nav__burger {
        /*создаем меню-бургер*/
        display: block;
        position: relative;
        width: 40px;
        height: 25px;
        z-index: 11;
    }
    .nav__burger::after,
    .nav__burger::before {
        /*создаем горизонтальные линии для меню-бургер*/
        content: "";
        background: rgb(22, 22, 22);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    /*раздвигаем две линии вверх и вниз по блоку бургера*/
    .nav__burger::after {
        bottom: 0;
    }
    .nav__burger::before {
        top: 0;
    }
    /*создаем среднюю линию бургера*/
    .nav__burger span {
        position: absolute;
        background-color: rgb(22, 22, 22);
        left: 0;
        width: 100%;
        height: 2px;
        top: 12px;
        transition: all 0.3s ease 0s;
    }
    /*делаем крест при активированном меню-бургер*/
    .nav__burger.active::before {
        transform: rotate(45deg);
        top: 11.5px;
        background-color: #fff;
    }
    .nav__burger.active::after {
        transform: rotate(-45deg);
        bottom: 11.5px;
        background-color: #fff;
    }
    .nav__burger.active span {
        transform: scale(0);
    }
}

.row__title {
    top: 7.5rem;
    margin-bottom: 7.5rem;
    position: relative;
    align-items: flex-start;
}


/*при уменьшении экрана ниже 1100px блок с формами перекрывает title, поэтому выстраиваем их в колонку*/

@media screen and (max-width:1100px) {
    .row__title {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

.col {
    display: flex;
    flex-direction: column;
}

.col__title {
    width: 49.5%;
    max-height: 22.5%;
}

.title {
    margin: 0 0 2.5rem;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 0.889;
    color: rgb(208, 57, 88);
}


/*уменьшаем заголовок на 20% согласно ТЗ*/

@media screen and (max-width: 992px) {
    .title {
        font-size: 3.6rem;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 2.88rem;
        color: rgb(224, 168, 56);
    }
}

@media screen and (max-width: 576px) {
    .title {
        font-size: 2.3rem;
    }
}

.title-color {
    color: rgb(22, 22, 22);
}

.subtitle {
    margin-top: 0;
    font: 1rem "PT Serif", serif;
    color: rgb(22, 22, 22);
    line-height: 1.4;
}

.col__forms {
    max-width: 400px;
    padding: 32px 26px 26px;
    background-color: rgb(208, 57, 88);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*позиционируем блок с формами*/
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width:1100px) {
    /*распозиционируем блок с формами для возможности перемещения*/
    .col__forms {
        position: static;
        margin-top: 30px;
    }
}

@media screen and (max-width:768px) {
    .col__forms {
        background-color: rgb(224, 168, 56);
    }
}

.col__forms__title {
    margin: 0 0 30px;
    font-size: 1.375rem;
    font-weight: normal;
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

.col__forms_quote {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.col__forms_item {
    width: 100%;
    font: 1rem "PT Serif", serif;
    padding: 8px 13px;
    margin: 9px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
}

.col__forms_quote p {
    font: 1rem "PT Serif", serif;
    color: rgb(255, 255, 255);
}

.bg_dark {
    background-color: #000;
    color: rgb(255, 255, 255);
    font: normal 1.1rem "Monserat", sans-serif;
}


/*немного эстетики*/

.bg_dark:hover {
    box-shadow: 1px 1px 5px 7px rgba(255, 255, 255, 0.5);
    font-weight: bold;
    transition: all 0.7s ease 0s;
}

@media screen and (max-width: 768px) {
    /*выстраиваем сервисы в колонку с реверсивным направлением согласно ТЗ*/
    .row__main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}

.main__title {
    margin: 0 0 90px;
    text-transform: uppercase;
    color: rgb(208, 57, 88);
    align-self: start;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "Montserrat" sans-serif;
}


/*уменьшаем заголовок на 20% в зависимости от ширины экрана, согласно ТЗ*/

@media screen and (max-width: 992px) {
    .main__title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .main__title {
        font-size: 1.6rem;
        color: rgb(224, 168, 56);
    }
}

@media screen and (max-width: 576px) {
    .main__title {
        font-size: 1.28rem;
    }
}

.main__col {
    width: 9rem;
    display: flex;
    flex-direction: column;
}

.col__icon {
    width: 100%;
    /*иконки разного размера, поэтому выстраиваем их по центру и верху блока*/
    text-align: center;
    vertical-align: top;
}

.col__content {
    margin: 3rem 0 0;
    font: 1rem "PT Serif", serif;
    width: 100%;
    color: rgb(22, 22, 22);
    line-height: 1.4;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .main__col {
        width: 7.5rem;
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    .main__col {
        width: 15rem;
        margin-top: 50px;
        padding: 10px;
        text-align: center;
        /*немного эстетики*/
        border: solid 5px rgb(227, 213, 184);
        border-radius: 5px;
    }
}

.sidebar {
    width: 100%;
    background-color: rgb(208, 57, 88);
}

.container__sidebar {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}

.row__sidebar {
    align-items: center;
}

.sidebar__content {
    width: 63%;
    font: 1rem "PT Serif", serif;
    color: rgb(255, 255, 255);
}

.sidebar__link a {
    text-decoration: none;
    text-transform: uppercase;
    font: normal 1.1rem "Monserat", sans-serif;
    color: rgb(22, 22, 22);
    padding: 1.2rem 3.55rem;
    border-radius: 5px;
    background-color: rgb(227, 213, 184);
}
    /*еще немного эстетики*/
    .sidebar__link a:hover {
        box-shadow: 1px 1px 5px 5px rgba(22, 22, 22, 0.5);
        font-weight: bold;
    }

@media screen and (max-width: 992px) {
    .sidebar__content {
        font: 0.8rem "PT Serif", serif;
    }
    .sidebar__link a {
        font: normal 0.88rem "Monserat", sans-serif;
        padding: 0.9rem 2.5rem;
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        background-color: rgb(224, 168, 56);
    }
    .container__sidebar {
        background-color: rgb();
    }
    .row__sidebar {
        flex-direction: column;
        align-items: center;
    }
    .sidebar__content {
        font: 1rem "PT Serif", serif;
    }
    .sidebar__link {
        margin-top: 50px;
    }
    .sidebar__link a {
        font: normal 1.1rem "Monserat", sans-serif;
        padding: 1.2rem 3.55rem;
    }
}