html {
    font-size: 125%;
    /*на макете font-size=20px (по умолчанию 16px)*/
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

.header {
    background: url(../images/bg_header.png) center/cover no-repeat;
    padding-bottom: 15px;
}

.container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.4rem 4.85rem 4.5rem;
}

.curtain {
    background-color: rgba(209, 198, 177, 0.729);    
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.logo{
    width: 16.2%;
    min-width: 100px;
}
.logo img{
    width: 100%;
}

.nav{
    margin-right: -20px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav__item {
    padding: 0.65rem 0.75rem;
    text-decoration: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: rgb(22, 22, 22);
    border-radius: 5px;
}

.nav__item:hover {
    background-color: rgb(208, 57, 88);
    color: rgb(255, 255, 255);
}
@media (max-width:768px) {
    html{
        font-size: 75%;
    }
    .row{
        align-items: center;
    }
    .logo{
        position: relative;
        z-index: 3;
    }
    .nav{
        margin: 0;
    }
    .nav__list {
        margin: 0;
        padding: 60px 0;
        position: fixed;
        z-index: 10;
        top: -130%;
        left: 0;
        width: 100%;
        height: 90%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(98, 93, 83, 0.729);
        transition: all 0.5s ease 0s;
    }
    .nav__list.active{
        top: 0;
        
    }
    .nav__item{
        position: relative;
        z-index: 3;
        font-size: 2rem;
        padding: 0.85rem 1.5rem;
        color: white;
        font-weight: bold;
    }
    .nav__burger {
        display: block;
        position: relative;
        width: 40px;
        height: 25px;
        z-index: 3;
    }
    .nav__burger::after,
    .nav__burger::before {
        content: "";
        background: rgb(22, 22, 22);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .nav__burger::after {
        bottom: 0;
    }
    .nav__burger::before {
        top: 0;
    }
    .nav__burger span {
        position: absolute;
        background-color: rgb(22, 22, 22);
        left: 0;
        width: 100%;
        height: 2px;
        top: 12px;
        transition: all 0.3s ease 0s;
    }
    .nav__burger.active::before{
        transform: rotate(45deg);
        top: 11.5px;
        background-color: #fff;
    }
    .nav__burger.active::after{
        transform: rotate(-45deg);
        bottom: 11.5px;
        background-color: #fff;
    }
    .nav__burger.active span{
        transform: scale(0);
    }
}

.row__title{
    top: 7.5rem;
    margin-bottom: 7.5rem;
    position: relative;
    align-items: flex-start;
}

.col {
    display: flex;
    flex-direction: column;  
}

.col__title {
    width: 49.5%;
    max-height: 22.5%;
}

.title {
    margin: 0 0 2.5rem;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 0.889;
    color: rgb(208, 57, 88);
}

.title-color {
    color: rgb(22, 22, 22);
}

.subtitle {
    margin-top: 0;
    font: 1rem "PT Serif", serif;
    color: rgb(22, 22, 22);
    line-height: 1.4;
}
.col__forms{
    max-width: 400px;
    padding: 32px 26px 26px;
    background-color: rgb(208, 57, 88);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}
.col__forms__title{
    margin: 0 0 30px;
    font-size: 1.375rem;
    font-weight: normal;
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

.col__forms_quote{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.col__forms_item{
    width: 100%;
    font: 1rem "PT Serif", serif;
    padding: 8px 13px;
    margin: 9px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
}
.col__forms_quote p{
    font: 1rem "PT Serif", serif;
    color: rgb(255, 255, 255);
}
.bg_dark{
    background-color: #000;
    color: rgb(255, 255, 255);
    font: normal 1.1rem "Monserat", sans-serif;
}
.main__title{
    margin: 0 0 90px;
    text-transform: uppercase;
    color: rgb(208, 57, 88);
    align-self: start;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "Montserrat" sans-serif;
}
.main__col{
    width: 9rem;
    display: flex;
    flex-direction: column;
}
.col__icon{
    width: 100%;
    text-align: center;
    vertical-align: top;
}
.col__content{
    margin: 3rem 0 0;
    font: 1rem "PT Serif", serif;
    width: 100%;
    color: rgb(22, 22, 22);
    line-height: 1.4;
    text-align: center;

      
}