html {
    font-size: 125%;
    /*на макете font-size=20px (по умолчанию 16px)*/
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

.header {
    background: url(../images/bg_header.png) center/cover no-repeat;
    padding-bottom: 10px;
}

.container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.4rem 4.85rem 0;
}

.curtain {
    background-color: rgba(209, 198, 177, 0.729);    
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo img{
    width: 100%;
}

.nav{
    margin-right: -20px;
}
@media (max-width:768px) {
    .nav {
        width: 100%;
        background-color: rgba(98, 93, 83, 0.729);
    }
    .nav__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }
    .nav__burger::after,
    .nav__burger::before {
        content: "";
        background: rgb(22, 22, 22);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .nav__burger::after {
        bottom: 0;
    }
    .nav__burger::before {
        top: 0;
    }
    .nav__burger span {
        position: absolute;
        background-color: rgb(22, 22, 22);
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }
}

.nav__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav__item {
    padding: 0.65rem 0.75rem;
    text-decoration: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: rgb(22, 22, 22);
    border-radius: 5px;
}

.nav__item:hover {
    background-color: rgb(208, 57, 88);
    color: rgb(255, 255, 255);
}

.col {
    display: flex;
    flex-direction: column;
}

.col__title {
    margin: 7.5rem 0;
    width: 49.5%;
    max-height: 22.5%;
}

.title {
    margin: 0 0 2.5rem;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 0.889;
    color: rgb(208, 57, 88);
}

.title-color {
    color: rgb(22, 22, 22);
}

.subtitle {
    margin-top: 0;
    font: 1rem "PT Serif", serif;
    color: rgb(22, 22, 22);
    line-height: 1.4;
}